body {
  margin: 0;
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
