.app-navbar {
  background-color: #111;
  color: #fff;
  padding: 10px 0;
}

.app-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.app-navbar-brand {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.app-navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.app-navbar-item {
  margin: 0 10px;
}

.app-navbar-item a {
  text-decoration: none;
  font-weight: 10;
  color: #fff;
}

.app-navbar-item a:hover {
  color: #757575;
}

.app-logo {
  height: 8vmin;
  pointer-events: none;
}