.editor-form {
    margin-top: 20px;
}

.editor-publish {
    margin: 0 5px;
}

.editor-title {
    outline: none;
    display: inline;
    width: 100%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid gray;
    font-size: large;
    font-weight: bold;
    padding: 10px 5px;  
}

.editor-markdown {
    margin-top: 20px;
}

.editor-markdown-widgets {
    display: flex;
    justify-content: flex-end; 
}

.editor-markdown-widgets a {
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
}

.editor-markdown-content {
    display: flex;
    justify-content: space-between;
}

.editor-markdown-item {
    width: 50%;
    max-width: 50%;
}

.editor-markdown-textarea {
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    min-width: 100%;
    margin: 0 5px;
}

.no-border {
    border: 0;
    box-shadow: none;
}